test-aat/code/aatat-acknowledgements-pub/bwceLib/Schemas/auditErrorMapper.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1547474979801" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1547474979801" > 
  <xsd:complexType name="MapperInputType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="isRecoverable" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="auditError" tibex:source="bw.generalactivities.mapper" type="tns:MapperInputType"/>
</xsd:schema>
